* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(65, 25, 127);
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 2px;
  padding-left: 30px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(0, 213, 226);
  width: 36.5%;
  height: 100%;
  margin-left: 30px;
  padding-left: 150px;
  box-shadow: -2px -4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle .cart__title {
  color: rgb(65, 25, 127);
  font-size: 20px;
  font-weight: 700;
  height: 21px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 272px;
  height: 437px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: rgb(243, 249, 251);
}

.item .item__id {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: end;
  flex-grow: 1;
  padding: 15px;
  text-align: justify;
  color: rgb(68, 73, 85);
  font-size: 16px;
  font-weight: 600;
}

.item .item__image {
  width: 188px;
  height: 188px;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  margin-top: 20px;
  margin-left: 40px;
  align-items: flex-start;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.item .item__price {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item_id {
  color: gray;
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.item .item__add {
  background-color: rgb(0, 213, 226);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  height: 30px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 100vh;
}

.cart .cart__items {
  height: 900px;
  width: 100%;
  overflow-y: scroll;
  background: rgb(243, 249, 251);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cart__item {
  color: rgb(68, 73, 85);
  background-color: rgb(217, 218, 219);
  padding: 20px;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
  line-height: 19px;
}

.empty-cart {
  position: absolute;
  width: 248px;
  height: 35px;
  left: 1240px;
  top: 778px;
  margin: 0 auto;
  background-color: rgb(65, 25, 127);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.total-price {
  width: 353px;
  height: 22px;
  left: 1187px;
  top: 742px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1px;
  text-align: center;
  position: absolute;
}
